<header class = "navbar navbar-fixed-top">
			<div class ="container">
				<%= link_to "Home", '#' , id: homeBtn %>
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to image_tag("gamebutton.png", alt: "Games") %><%= link_to "Games", "#" %></li>
						<li><%= link_to image_tag("userbutton.png", alt: "User") %><%= link_to "User", "#" %></li>		
						<li><%= link_to image_tag("settbutton.png", alt: "Settings") %><%= link_to "Settings", "#" %></li>	
						<li><%= link_to image_tag("logoutbutton.png", alt: "Games") %><%= link_to "Logout", "#" %></li>	
					</ul>
				</nav>
			</div>
		</header>