<!DOCTYPE html>
<html>
  <head>
    <title>Simple play</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="mycustom.css">
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <%= link_to "Simple play", root_path	, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          	<% if user_signed_in? %>
          	   <li id="username"><%= current_user.email %></li>
           	   <li>  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
               <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
			<% else %>
			 <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
			<% end %>
          </ul>
        </nav>
      </div>
    </header>
    <br>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<br>
    <div class="container">
      <%= yield %>

    </div>
<footer class="footer">

    <ul>
      <li><%= link_to "Facebook",   '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>
  </body>
  
</html>

<html>
<head>
<!--  -->
