<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @state_metric.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state_metric.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @state_metric.state %>
</p>

<%= link_to 'Edit', edit_user_game_state_metric_path(@user ,@game , @state_metric) %> |
<%= link_to 'Back', game_state_metrics_path %>
