<link rel="stylesheet" type="text/css" href="forms.css">
<%= form_for([@user, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "left">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :game_timezone %><br>
    <%= f.text_field :game_timezone,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url,:class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo ,:class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description,:class => 'form-control' %>
  </div>
</div>
    <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
