<p id="notice"><%= notice %></p>
<div class="container">
<h1>Your Games</h1>

<% @games.each do |game| %>

  <div class= "row">
    <table frame = "box">
    <tr>
      <th>Name</th>
      <th><%= game.name %></th>
      </tr>
      <tr>
      <th>Game ID</th>
      <th><%= game.game_id %></th>
      </tr>
      <tr>
      <th>Game timezone</th> 
      <th><%= game.game_timezone %></th>
      </tr>
      <tr>
      <th>URL</th>
      <th><p>/game-id/<%= game.game_id %></p></th>
      </tr>
      <tr>
      </tr>
    <td><%= link_to 'more', [@user , game] %></td>
    <br>
    <br>
 <% end %>
 </div>
  </div>
</table>

<br>

<%= button_to "Add Game", new_user_game_path , :method => "get" %>

<br>
</div>
