
<p id="notice"><%= notice %></p>

<%= image_tag  @game.photo.url(:thumb) %>
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Game timezone:</strong>
  <%= @game.game_timezone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @game.url %>
</p>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Edit', edit_user_game_path(@user , @game) %> |
<%= link_to 'Back', user_games_path %>

