<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Game timezone:</strong>
  <%= @game.game_timezone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @game.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @game.logo %>
</p>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
