<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-sm-3">
<%= image_tag  @game.photo.url(:thumb) %>
<p>
  <div class="name"><%= @game.name %></div>
</p>

<p>
  <strong>Game ID :</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Game timezone:</strong>
  <%= @game.game_timezone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @game.url %>
</p>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>
</div>
<div class="col-sm-3">
<% if @value_metrics.count > 0 %>
<div>
  <strong>Value Metrics</strong>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Min</th>
      <th>Max</th>
      <th>Start</th>
    </tr> 
    <% @value_metrics.each do |v| %>
    <tr>
      <td><%= v.name %></td>
      <td><%= v.description %></td>
      <td><%= v.min %></td>
      <td><%= v.max %></td>
      <td><%= v.start %></td>
    <% end %>  
    </tr>
    </tr>
  </table>
</div>
<% end %>
</div>
<div class="col-sm-3">
<% if @state_metrics.count > 0 %>
<div>
  <strong>State Metrics</strong>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Min</th>
      <th>Max</th>
      <th>Start</th>
    </tr> 
    <% @state_metrics.each do |v| %>
    <tr>
      <td><%= v.name %></td>
      <td><%= v.description %></td>
      <td><%= v.state %></td>
    <% end %>  
    </tr>
    </tr>
  </table>
</div>
<% end %>
</div>
<div class="col-sm-3">

<% if @events.count > 0 %>
<div>
  <strong>Operations</strong>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>ID</th>
    </tr> 
    <% @events.each do |v| %>
    <tr>
      <td><%= v.name %></td>
      <td><%= v.event_description %></td>
      <td><%= v.event_id %></td>
    <% end %>  
    </tr>
    </tr>
  </table>
</div>
<% end %>
</div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
<div class="col-sm-2">
<%= button_to "Add Player", user_game_players_path(@user, @game) , class: "btn btn-primary", :method => "get" %>
</div>
<div class="col-sm-2">
<%= button_to "Add value metric", new_user_game_value_metric_path(@user ,@game) , class: "btn btn-primary", :method => "get" %>
</div>

<div class="col-sm-2">
<%= button_to "Add state metric", new_user_game_state_metric_path(@user ,@game) , class: "btn btn-primary", :method => "get" %>
</div>

<div class="col-sm-2">

<%= button_to "Add Operation", new_user_game_event_path(@user ,@game) , class: "btn btn-primary", :method => "get" %>
</div>
<div class="col-sm-2">
<%= button_to "Add Rule", new_user_game_rule_path(@user ,@game) , class: "btn btn-primary", :method => "get" %>
</div>

</div>

<br>
<br>
<br>
<br>
<%= button_to "Wanna edit your game", edit_user_game_path(@user , @game) , class: "btn btn-warning", :method => "get" %>



