<p id="notice"><%= notice %></p>

<h1>Listing Value Metrics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Min</th>
      <th>Start</th>
      <th>Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @value_metrics.each do |value_metric| %>
      <tr>
        <td><%= value_metric.name %></td>
        <td><%= value_metric.description %></td>
        <td><%= value_metric.min %></td>
        <td><%= value_metric.start %></td>
        <td><%= value_metric.max %></td>
        <td><%= link_to 'Show', value_metric %></td>
        <td><%= link_to 'Edit', edit_value_metric_path(value_metric) %></td>
        <td><%= link_to 'Destroy', value_metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value metric', new_value_metric_path %>
